/*
 * Copyright (c) 2020 The ZMK Contributors

 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

//&out OUT_BLE //prioritises bluetooth over USB

#define LETTERS     0
//#define L_MAIN      1 // Layer + (to distribute to other layers) - at present, not used
#define NUMBERS     1
#define MOUSE       2
#define F_MEDIA     3
#define BLUETOOTH   4
#define NAVIGATION  5

&lt {  // layer tap config
};

/*
//Enough time for me to use sticky modifiers
&sk {
     release-after-ms = <3000>;
     quick-release;
};
*/

// Added period and forward slash to default continue list
&caps_word {
continue-list = <UNDERSCORE BSPC MINUS PERIOD SLASH>;
};

// Mouse movement and mouse wheel speed and acceleration settings
&mmv {    
        time-to-max-speed-ms = <500>;
        acceleration-exponent=<2>;
};
&mwh {    
        time-to-max-speed-ms = <0>;
        acceleration-exponent=<1>;
};


/ {
// Key Positions Index for Combos
// ________________________________________________________________________________________________________
// |   0  |   1  |   2  |   3  |   4  |   5  |                  |   6  |   7  |   8  |   9  |  10  |  11  |
// |  12  |  13  |  14  |  15  |  16  |  17  |                  |  18  |  19  |  20  |  21  |  22  |  23  |
// |  24  |  25  |  26  |  27  |  28  |  29  |                  |  30  |  31  |  32  |  33  |  34  |  35  |
//                             |  36  |  37  |  38  |    |  39  |  40  |  41  |
	
        combos {
                compatible = "zmk,combos";
                        combo_shift {
                                timeout-ms = <20>;
                                key-positions = <2 3>;
                                layers = <LETTERS NUMBERS>;
                                bindings = <&sk LSHFT>;                      
                        };

                        // workaround as default &kp C_AL_LOCK function does not work in Windows
                        combo_lock_computer {
                                timeout-ms = <30>;
                                key-positions = <8 9 10>;
                                bindings = <&kp LG(L)>;                      
                        };

                        combo_reset_keyboard {
                                timeout-ms = <20>;
                                key-positions = <18 19>;
                                layers = <BLUETOOTH>;
                                bindings = <&reset>;                      
                        };

                        combo_bootloader {
                                timeout-ms = <20>;
                                key-positions = <30 31>;
                                layers = <BLUETOOTH>;
                                bindings = <&bootloader>;                      
                        };

                        combo_bluetooth_layer {
                                timeout-ms = <20>;
                                key-positions = <30 31 32>;
                                bindings = <&to BLUETOOTH>;                      
                        };

        };

        macros {
        
        /*
                //Macro to type £
                sterling: sterling {
                label = "ZM_STERLING";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <20>;
                tap-ms = <20>;
                bindings
                        = <&macro_press   &kp LALT>
                        , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N6 &kp KP_N3>
                        , <&macro_release &kp LALT>
                        ;
                };
                
                //Macro to type €
                euro: euro {
                label = "ZM_EURO";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <20>;
                tap-ms = <20>;
                bindings
                        = <&macro_press   &kp LALT>
                        , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N8>
                        , <&macro_release &kp LALT>
                        ;
                };
        */

        };



        behaviors {
                //Mod-Morph to input 9 or (with shift) < in HALMAK layout
                N9_LT: N9_LT {
                        compatible = "zmk,behavior-mod-morph";
                        label = "&N9_LT";
                        #binding-cells = <0>;
                        bindings = <&kp N9>, <&kp LESS_THAN>;
                        mods = <(MOD_LSFT)>;
                };
                
                //Mod-Morph to input 0 or (with shift) > in HALMAK layout
                N0_GT: N0_GT {
                        compatible = "zmk,behavior-mod-morph";
                        label = "&N0_GT";
                        #binding-cells = <0>;
                        bindings = <&kp N0>, <&kp GREATER_THAN>;
                        mods = <(MOD_LSFT)>;
                };
                
                //Mod-Morph to input comma or (with shift) open parenthesis in HALMAK layout
                comma_lpar: comma_lpar {
                        compatible = "zmk,behavior-mod-morph";
                        label = "&COMMA_LPAR";
                        #binding-cells = <0>;
                        bindings = <&kp COMMA>, <&kp LPAR>;
                        mods = <(MOD_LSFT)>;
                };
               
                //Mod-Morph to input period or (with shift) close parenthesis in HALMAK layout
                dot_rpar: dot_rpar {
                        compatible = "zmk,behavior-mod-morph";
                        label = "&DOT_RPAR";
                        #binding-cells = <0>;
                        bindings = <&kp KP_DOT>, <&kp RPAR>;
                        mods = <(MOD_LSFT)>;
                };
               
                //Mod-Morph to input % or (with shift) /
                percent_divide: percent_divide {
                        compatible = "zmk,behavior-mod-morph";
                        label = "&PERCENT_DIVIDE";
                        #binding-cells = <0>;
                        bindings = <&kp PERCENT>, <&kp KP_DIVIDE>;
                        mods = <(MOD_LSFT)>;
                };

                nav_mo: nav_mo {
                        compatible = "zmk,behavior-hold-tap";
                        label = "&NAV_MO";
                        #binding-cells = <2>;
                        flavor = "hold-preferred";
                        tapping-term-ms = <20>;
                        // quick-tap-ms = <300>;                        
                        bindings = <&mo>, <&to>;
                };
               
                mo_to_layer: mo_to_layer {
                        compatible = "zmk,behavior-hold-tap";
                        label = "&MO_TO_LAYER";
                        #binding-cells = <2>;
                        flavor = "hold-preferred";
                        tapping-term-ms = <200>;
                        bindings = <&mo>, <&to>;
                };


                /* 
                to_nav: to_nav {
                        compatible = "zmk,behavior-hold-tap";
                        label = "&TO_NAV";
                        #binding-cells = <2>;
                        flavor = "hold-preferred";
                        tapping-term-ms = <200>;
                        bindings = <&to>, <&to>;
                };
                */

                //Press Go to Letters | Hold Momentary Numbers | Tap-Dance Go to Numbers 
                num_letter: num_letter {
                        compatible = "zmk,behavior-tap-dance";
                        label = "NUM_LETTER";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&mo_to_layer NUMBERS LETTERS>, <&to NUMBERS>;  
                };

                //Press Go to Backspace | Hold Momentary F_Media | Tap-Dance Backspace | Tap-Dance Go to Navigation --> two taps repeat backspace, three taps goes to Navigation layer
                F_media_bspc: F_media_bspc {
                        compatible = "zmk,behavior-tap-dance";
                        label = "F_MEDIA_BSPC";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&lt F_MEDIA BSPC>, <&kp BSPC>, <&to NAVIGATION>;
                };

                //Press Go to Space | Hold Momentary Mouse | Tap-Dance Space | Tap-Dance Mouse --> two taps = space, three taps goes to mouse layer
                mouse_space: mouse_space {
                        compatible = "zmk,behavior-tap-dance";
                        label = "MOUSE_SPACE";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&lt MOUSE SPACE>, <&kp SPACE>, <&to MOUSE>;
                };

                /*
                //Tap-Dance to input # and £ 
                hash_sterling: hash_sterling {
                        compatible = "zmk,behavior-tap-dance";
                        label = "HASH_STERLING";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&kp HASH>, <&sterling>;
                };

                //Tap-Dance to input $ and € 
                dollar_euro: dollar_euro {
                        compatible = "zmk,behavior-tap-dance";
                        label = "&DOLLAR_EURO";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&kp DOLLAR>, <&euro>;
                };
                */


        };
	
       

        keymap {
                compatible = "zmk,keymap";


                letters {
//                 LETTERS
//                _________________________________________________________________________________________
//              |    |  w  |  l  |  r  |  b   |  z      |             | ;: |  q  |  u  |  d  |  j  |    |
//              |    |     |   Shift   |      |         |             |    |     |  Lock Computer  |    |
//
//              |    |  s  |  h  |  n  |  t   |  ,(     |             | .) |  a  |  e  |  o  |  i  |    |
//              |    |  f  |  m  |  v  |  c   |  /?     |             | g  |  p  |  x  |  k  |  y  |    |
//                                              |Nav|Letter/Num| |Bspc/F_Media|Space/Mouse| 

                                        bindings = <
                &none   &kp W  &kp L  &kp R  &kp B      &kp Z                   &kp SEMICOLON  &kp Q  &kp U  &kp D  &kp J  &none
                &none   &kp S  &kp H  &kp N  &kp T      &comma_lpar             &dot_rpar   &kp A  &kp E  &kp O  &kp I  &kp LG(D)
                &none   &kp F  &kp M  &kp V  &kp C      &kp SLASH               &kp G  &kp P  &kp X  &kp K  &kp Y  &none   
                                        &none &nav_mo NAVIGATION NAVIGATION  &num_letter    &F_media_bspc &mouse_space &none
                        >;
                };

/*                l_main {
//                 Layer+ (to distribute to other layers) - at present, not used
//              ____________________________________________________________________________________________________________
//              |    |          |       |     |       |         |             |     |    |    |    |    Bluetooth      |    |
//              |    |Navigation|Numbers|Mouse|F&Media|         |             |     |    |    |    |ToggleLetterLayouts|    |
//              |    |          |       |     |       |         |             |     |    |    |    |                   |    |
//                                         |Nav|Letter/Num| |Bspc/F_Media|Space/Mouse| 

                        bindings = <
                &none   &none           &none      &none        &none        &none                                       &none   &none   &none   &none   &to BLUETOOTH  &none   
                &none   &to NAVIGATION  &to NUMBERS  &to MOUSE  &to F_MEDIA  &none                                       &none   &none   &none   &none   &none          &kp LG(D)   
                &none   &none           &none      &none        &none        &none                                       &none   &none   &none   &none   &none          &none   
                        &lt NUMBERS LETTERS  &nav_mo NAVIGATION NAVIGATION NAVIGATION NAVIGATION  &lt NUMBERS LETTERS          &lt MOUSE BSPC  &lt F_MEDIA SPACE  &lt MOUSE BSPC  
                        >;
                };
*/

                numbers {
//               NUMBERS     
//              __________________________________________________________________________________________
//              |     | 1 ! | 2 @ | 3 # | 4 $  |  5 %    |             | 6 ^ | 7 & | 8 * | 9 < | 0 > |    |
//              |     |     |   Shift   |      |         |             |     |     |     |     |     |    |
//
//              |     |Ctrl | Alt |Shift|  Tab |   Win   |             |     |     |     |     |     |    |
//              |     | ` ~ | , ( | . ) | ' "  |  \ |    |             | ; : | [ { | - _ | = + | ] } |    |
//                                               |Nav|Letter/Num| |Bspc/F_Media|Space/Mouse| 

                        bindings = <
                        &none   &kp N1          &kp N2         &kp N3         &kp N4         &kp N5                &kp N6    &kp N7    &kp N8     &N9_LT    &N0_GT   &none   
                        &none   &kp LCTRL  &kp LALT &kp LSHIFT &kp TAB        &kp LGUI                             &none     &none     &none      &none     &none    &kp LG(D)    
                        &none   &kp GRAVE       &comma_lpar    &dot_rpar      &kp SQT        &kp BACKSLASH         &kp SEMI  &kp LBKT  &kp MINUS  &kp EQUAL &kp RBKT &none   
                                                                                &none &nav_mo NAVIGATION NAVIGATION  &num_letter    &F_media_bspc &mouse_space &none
                        >;
                };

                mouse {
//               MOUSE       
//              ____________________________________________________________________________________________________________
//              |    |    |   |     |LeftClick|         |             |     |          |MouseUp  |          |           |    |
//              |    |Ctrl|Alt|Shift|  Tab    |   Win   |             |     |MouseLeft |MouseDown|MouseRight|RightClick |    |
//              |    |    |   |     |         |         |             |     |ScrollLeft|ScrollUp |ScrollDown|ScrollRight|    |
//                                              |Nav|Letter/Num| |Bspc/F_Media|Space/Mouse| 

                        bindings = <
                        &none   &kp ESC    &none    &none      &mkp LCLK   &none               &none   &none                 &mmv MOVE_VERT(-1000)   &none                  &none                &none   
                        &none   &kp LCTRL  &kp LALT &kp LSHIFT &kp TAB     &kp LGUI            &none   &mmv MOVE_HOR(-1000)  &mmv MOVE_VERT(1000)  &mmv MOVE_HOR(1000)    &mkp RCLK            &kp LG(D)   
                        &none   &none      &none    &none      &none       &none               &none   &mwh SCROLL_HOR(-15)  &mwh SCROLL_VERT(15)   &mwh SCROLL_VERT(-15)  &mwh SCROLL_HOR(15)  &none   
                                                        &none &nav_mo NAVIGATION NAVIGATION  &num_letter    &F_media_bspc &mouse_space &none
                        >;
                };

                f_media {
//               F_MEDIA     
//              __________________________________________________________________________________________________________
//              |    |  F1  |  F2  |  F3  |  F4  |  F5     |             |BrightDown|BrightUp|VolMute|VolDown|VolUp |    |
//              |    |Ctrl  | Alt  |Shift |  Tab |   Win   |             |MuteMic   |        |       |       |      |    |
//              |    |  F6  |  F7  |  F8  |  F9  |  F10    |             |DropDown  |  F11   |  F12  |       |      |    |
//                                                 |Nav|Letter/Num| |Bspc/F_Media|Space/Mouse| 

                        bindings = <
                        &none   &kp F1     &kp F2   &kp F3     &kp F4      &kp F5                &kp C_BRI_DN  &kp C_BRI_UP  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &none   
                        &none   &kp LCTRL  &kp LALT &kp LSHIFT &kp TAB     &kp LGUI              &none         &none         &none       &none         &none         &kp LG(D)   
                        &none   &kp F6     &kp F7   &kp F8     &kp F9      &kp F10               &kp LS(F10)   &kp F11       &kp F12     &none         &none         &none   
                                                           &none &nav_mo NAVIGATION NAVIGATION  &num_letter    &F_media_bspc &mouse_space &none
                        >;
                };

                bluetooth {
//               BLUETOOTH   
//              ___________________________________________________________________________________
//              |    |BT1 |BT2 |BT3 |BT4   |ResetActive BT|        |    |     |    |    |    |    |
//              |    |BT5 |    |    |      |              |        |    |     |    |    |    |    |
//              |    |    |    |    |      |              |        |  Reset   |    |    |    |    |
//
//              |    |    |    |    |      |              |        |    |     |    |    |    |    |
//              |    |    |    |    |      |              |        |Bootloader|    |    |    |    |
//
//                                             |Nav|Letter/Num| |Bspc/F_Media|Space/Mouse| 

                        bindings = <
                        &none   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR              &none   &none   &none   &none   &none   &none   
                        &none   &bt BT_SEL 4    &none         &none         &none         &none                   &none   &none   &none   &none   &none   &kp LG(D)
                        &none   &none           &none         &none         &none         &none                   &none   &none   &none   &none   &none   &none   
                                                                                &none &nav_mo NAVIGATION NAVIGATION  &num_letter    &F_media_bspc &mouse_space &none
                        >;
                };

                navigation {
//              /* NAVIGATION
//              _______________________________________________________________________________________________________
//              |    |Esc   |F2    |Ctrl-A| Ctrl-Y |  Ctrl-Z  |             |Insert  |CapsWords|  Up  |Delete  |     |    |
//              |    |Ctrl  |Alt   |Shift |  Tab   |   Win    |             |Enter   |Left     | Down |Right   |     |    |
//              |    |Ctrl-Z|Ctrl-X|Ctrl-V| Ctrl-C |    `     |             |DropDown|Home     |PageUp|PageDown| End |    |
//                                                       |Nav|Letter/Num| |Bspc/F_Media|Space/Mouse| 

                        bindings = <
                        &none   &kp ESC    &kp F2     &kp LC(A)  &kp LC(Y)   &kp LC(Z)                 &kp INS     &caps_word &kp UP    &kp DEL    &none    &none   
                        &none   &kp LCTRL  &kp LALT   &kp LSHIFT &kp TAB     &kp LGUI                  &kp ENTER   &kp LEFT   &kp DOWN  &kp RIGHT  &none    &kp LG(D)   
                        &none   &kp LC(Z)  &kp LC(X)  &kp LC(V)  &kp LC(C)   &kp GRAVE                 &kp LS(F10) &kp HOME   &kp PG_UP &kp PG_DN  &kp END  &none   
                                                                  &none &nav_mo NAVIGATION NAVIGATION  &num_letter    &F_media_bspc &mouse_space &none
                        >;
                };


        };
};
